@media screen and (min-width: 650px) {
  .singleStep {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 650px) {
  .singleStep > span {
    margin-left: -1rem !important;
  }

  .singleStep > span::after {
    color: #bc5252;
    width: 100%;
    content: 'Supprimer';
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
}
