.recipeItem {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  min-height: fit-content;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.3rem;
  border-radius: 0.3rem;
}

.recipeItem button:focus-visible {
  outline: none;
}

.recipeImg {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 1rem;
}

.recipeTitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.25rem 0.5rem auto;
}

.actionButton {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  position: absolute;
  top: 0.3rem;
  right: 0.7rem;
  line-height: 0;
  margin: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
}
