body {
  padding-top: 7rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
    url('../../../assets/food_background.jpg');
  background-attachment: scroll;
  background-size: cover;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: auto;
  width: fit-content;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(241, 236, 245);
}

.top {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addRecipe {
  background: #bc5252;
  margin: auto;
  color: white;
  height: 2.5rem;
  padding: 0 1.5rem;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 350;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  transition: 0.2s all;
}

.recipes button:hover {
  cursor: pointer;
  transform: scale(1.025);
  filter: brightness(1.05);
}

.recipes button:active {
  cursor: pointer;
  transform: scale(1);
}
